# Copia este archivo a .env y ajusta si lo necesitas
MYSQL_ROOT_PASSWORD=comedor_root
MYSQL_DATABASE=restauranteupeuu
MYSQL_USER=comedor
MYSQL_PASSWORD=comedor123
MYSQL_PORT=3306

# Spring Boot (debe coincidir con lo de arriba)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=restauranteupeuu
DB_USER=comedor
DB_PASSWORD=comedor123
